# https://vercel.com/integrations/planetscale
# DATABASE_URL=
DATABASE_URL='mysql://oxgv26164egs:************@5a43xizcvouv.us-east-2.psdb.cloud/thm_codes?ssl={"rejectUnauthorized":true}'

NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_SECRET=bc749140997795248e7a35f9defd40b9

# https://next-auth.js.org/providers/github
GITHUB_ID=a8742c43163bb45c8d1c
GITHUB_SECRET=ade3cd9c62964a0838661bd455abb67e97c5b084
